{% extends 'base.html.twig' %}

{% block body %}
    <div class="container page-content" id="user_show">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    {% if user.getProfilePicture is null %}
                        <img src="{{ asset(profile_picture_default) }}" alt="profile_picture" class="card-img-top"/>
                    {% else %}
                        <img src="{{ asset(profile_picture_directory ~ user.getProfilePicture) }}" alt="profile_picture" class="card-img-top"/>
                    {% endif %}
                    <div class="card-body">
                        <h2>{{ user.username }}</h2>
                        <dl class="row">
                            <dt class="col-sm-4">{{ "Email"|trans }}</dt>
                            <dd class="col-sm-8">{{ user.email }}</dd>
                            {% if user.firstname is not null %}
                                <dt class="col-sm-4">{{ "Firstname"|trans }}</dt>
                                <dd class="col-sm-8">{{ user.firstname }}</dd>
                            {% endif %}
                            {% if user.lastname is not null %}
                                <dt class="col-sm-4">{{ "Lastname"|trans }}</dt>
                                <dd class="col-sm-8">{{ user.lastname }}</dd>
                            {% endif %}
                        </dl>
                        <h5>{{ "page.user.edit.social"|trans }}</h5>
                        <dl class="row">
                            {% if user.twitter is not null %}
                                <dt class="col-sm-4">Twitter</dt>
                                <dd class="col-sm-8"><a href="http://twitter.com/{{user.twitter}}" target="_blank">@{{ user.twitter }}</a></dd>
                            {% endif %}
                            {% if user.website is not null %}
                                <dt class="col-sm-4">{{ "Website"|trans }}</dt>
                                <dd class="col-sm-8"><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></dd>
                            {% endif %}
                        </dl>
                        {% if app.user == user %}
                            <a href="{{ path('user_edit', {id: user.id}) }}"><span class="oi oi-pencil"></span>&nbsp;{{ "page.user.show.edit_profile"|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8 posts">
                {% if posts|length <= 0 %}
                    <div class="alert alert-info">
                         No posts published
                    </div>
                {% else %}
                    {% for post in posts %}
                        <article class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a href="{{ path('post_show', {slug: post.entity.slug}) }}">{{post.entity.title}}</a>
                                </h3>
                                <div class="card-text">
                                    {{ post.entity.content|truncate(150)|striptags }}
                                </div>
                                <div class="card-text">
                                    {% if post.entity.category.name is defined %}
                                        <small class="post-category">
                                            <a href="{{ path('post_category', {'slug': post.entity.category.slug}) }}" class="text-secondary">
                                                <span class="oi oi-tags"></span>&nbsp;
                                                {{ post.entity.category.name }}</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <div class="row">
                                    <div class="col text-secondary">
                                        {% if post.entity.lastUpdate is not null %}
                                            <small class="post-date">Updated at {{ post.entity.lastUpdate|date('d F Y') }}</small>
                                        {% else %}
                                            <small class="post-date">Created at {{ post.entity.creationDate|date('d F Y') }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="col text-right">
                                        <small>{{ post.nbviews }} views</small>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
