{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/simplemde.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/jquery.tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('javascript/highlight/styles/atom-one-dark.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/simplemde.min.js') }}"></script>
    <script src="{{ asset("javascript/jquery.tagsinput.min.js") }}"></script>
    <script src="{{ asset('javascript/highlight/highlight.pack.js') }}"></script>

    <script>
        $(document).ready(function() {
            var editor = new SimpleMDE({
                element: $("#appbundle_post_content")[0],
                spellChecker: false,
                promptURLs: true,
                toolbar: ["bold", "italic", "heading-1", "heading-2", "heading-3", "|", "quote", "code", "ordered-list", "unordered-list", "|", "image", "link", "table", "|", "guide"],
            });

            getPreview();

            editor.codemirror.on("change", debounce(function() {
                getPreview()
            }, 1000));

            $('#appbundle_post_tags').tagsInput({
                'height':'45px',
                'width':'100%',
                'placeholderColor' : '#9c9c9c'
            });

            var publishedCheckbox = $('#appbundle_post_published');
            publishedCheckbox.on("change", function () {
                changePublishButton(this.checked);
            });
            publishedCheckbox.change();

            function debounce(fn, delay) {
                var timer = null;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        fn.apply(context, args);
                    }, delay);
                };
            }

            function getPreview() {
                $.post({
                    url: "{{ path('post_preview', {}) }}",
                    data: {
                        text: editor.value()
                    },
                    success: function (data) {
                        var prev_text = data.result;
                        $("#post-preview").html(prev_text);

                        hljs.initHighlightingOnLoad();

                        $('pre code').each(function(i, block) {
                            hljs.highlightBlock(block);
                        });
                    }
                });
            }

            function changePublishButton(willPublish) {
                if (typeof willPublish !== "boolean") {
                    throw "willPublish must be a boolean";
                }
                var button = $('#publishBtn');
                if (willPublish)
                    button.text("{{ "common.action.publish"|trans }}");
                else
                    button.text("{{ "common.action.save"|trans }}")
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid page-content" id="create-post-page">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <h1>{{ "page.post.new.title"|trans }}</h1>
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.category) }}
                {{ form_row(form.tags) }}
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h2>Actions</h2>
                    <div>
                        <div class="float-right btn-group">
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-secondary">{{ "common.action.cancel"|trans }}</a>
                            <button type="submit" class="btn btn-primary" id="publishBtn">{{ (isNew ? "common.action.publish" : "common.action.save")|trans }}</button>
                        </div>
                        {{ form_row(form.published) }}
                    </div>
                </div>
                <div id="post-preview" class="post-content">
                    <i>Waiting for input..</i>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}