    {% extends 'base.html.twig' %}

    {% block body %}
    <div class="container page-content" id="post-list">
        {% if category is not null %}
            <h1>Category: {{ category.name }}</h1>
        {% else %}
            <h1>Last posts</h1>
        {% endif %}
        <p>Here is the latest posts.</p>
        <hr>
        <div class="row">
            {% for i in 0..2 %}
                <div class="col-md-4 column-{{ i }}">
                    {% if posts[i] is defined %}
                        {% for post in posts[i] %}
                            <div class="card post-index-card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ path('post_show', {slug: post.entity.slug}) }}" class="card-link">
                                            {{ post.entity.title }}
                                        </a>
                                    </h5>
                                    <div class="card-text">
                                        {{ post.entity.content|truncate(50)|striptags }}
                                    </div>
                                    <div class="card-text row">
                                        <div class="col">
                                            <small class="text-secondary">{{ post.nbViews }} views</small>
                                        </div>
                                        <div class="col text-right">
                                            {% if post.entity.category.name is defined %}
                                                <small class="post-category">
                                                    <span class="oi oi-tags"></span>&nbsp;
                                                    <a href="{{ path('post_category', {'slug': post.entity.category.slug}) }}">{{ post.entity.category.name }}</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="float-right">
                                        {% if post.entity.lastUpdate is not null %}
                                        <small>Updated at {{ post.entity.lastUpdate|date('d/m/Y') }}</small>
                                        {% else %}
                                        <small>Created at {{ post.entity.creationDate|date('d/m/Y') }}</small>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <a href="{{ path('user_show', {'username': post.entity.author.username}) }}">
                                        {% if post.entity.author.getProfilePicture is null %}
                                            <img src="{{ asset(profile_picture_default) }}" alt="profile_picture" class="profile-picture"/>
                                        {% else %}
                                            <img src="{{ asset(profile_picture_directory ~ post.entity.author.getProfilePicture) }}" alt="profile_picture" class="profile-picture"/>
                                        {% endif %}
                                        </a>
                                        &nbsp;
                                        <a href="{{ path('user_show', {'username': post.entity.author.username}) }}" class="card-link">{{post.entity.author.username}}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}                    
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
