{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/trumbowyg.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/trumbowyg.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $.trumbowyg.svgPath = "{{ asset('svg/trumbowyg/icons.svg') }}";

            $('#appbundle_post_content').trumbowyg({
                btns: [['formatting'], 'strong', 'em', '|', 'link', 'insertImage'],
                autogrow: true
            });
        });
    </script>
{% endblock %}

{% block body %}
<div class="container page-content">
    <h1>{{ "page.post.new.title"|trans }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="float-right">
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-secondary">{{ "common.action.cancel"|trans }}</a>
            <input type="submit" value="{{ "common.action.create"|trans }}" class="btn btn-primary"/>
        </div>
    {{ form_end(form) }}

</div>
{% endblock %}
