{% extends 'base.html.twig' %}

{% block body %}
<div class="container page-content" id="post-show">
    <div class="post-action">
        {% if app.user == post.author or is_granted('ROLE_ADMIN') %}    
            {{ form_start(delete_form) }}        
            <div class="btn-group float-right">
                <button type="submit" class="btn btn-outline-danger"><span class="oi oi-trash"></span>&nbsp;Delete</button>                
                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-outline-primary"><span class="oi oi-pencil"></span>&nbsp;Edit</a>        
            </div>
            {{ form_end(delete_form) }}
        {% endif %}    
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-secondary"><span class="oi oi-arrow-left"></span>&nbsp;Back</a>
    </div>
    <header class="post-header">
        <div class="post-info">
            <div class="post-tags float-right">
                {% if post.category.name is defined %}
                <div>
                    <small><span class="oi oi-paperclip"></span>&nbsp;<a href="#">{{ post.category.name }}</a></small>                
                </div>
                {% endif %}
                <div>
                    <small><span class="oi oi-tags"></span>&nbsp;<a href="#">{{ post.tags }}</a></small>                
                </div>
            </div>       
        </div>
        <div class="author">
            Post created by <a href="#">{{ post.author.username }}</a>
        </div>
        <div class="post-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-date">
            {% if post.lastUpdate is not null %}
            <small class="post-date">Updated at {{ post.lastUpdate|date('d F Y') }}</small>    
            {% else %}
            <small class="post-date">Created at {{ post.creationDate|date('d F Y') }}</small>
            {% endif %}
        </div> 
    </header>
    <hr>
    <div class="post-content">
        {{ post.content|raw }}
    </div>

    <hr>
</div>
{% endblock %}
