{% extends 'base.html.twig' %}

{% block body %}
<div class="container page-content" id="post-show">
    <div class="post-action">
        {% if app.user == post.author or is_granted('ROLE_ADMIN') %}    
            {{ form_start(delete_form) }}        
            <div class="btn-group float-right">
                <button type="submit" class="btn btn-outline-danger btn-sm"><span class="oi oi-trash"></span>&nbsp;{{ "common.action.delete"|trans }}</button>
                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-outline-primary btn-sm"><span class="oi oi-pencil"></span>&nbsp;{{ "common.action.edit"|trans }}</a>
            </div>
            {{ form_end(delete_form) }}
        {% endif %}    
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-secondary btn-sm"><span class="oi oi-arrow-left"></span>&nbsp;{{ "common.action.back"|trans }}</a>
    </div>
    <div class="author">
        <div class="row">
            <div class="col-md-4">
                <div class="float-left">
                    {% if post.author.getProfilePicture is null %}
                        <img src="{{ asset(profile_picture_default) }}" alt="profile_picture" class="profile-picture"/>
                    {% else %}
                        <img src="{{ asset(profile_picture_directory ~ post.author.getProfilePicture) }}" alt="profile_picture" class="profile-picture"/>
                    {% endif %}
                </div>
                <div class="">
                    <h5 class="username"><a href="{{ path('user_show', {'username': post.author.username}) }}">{{ post.author.username }}</a></h5>
                    <p class="user-info">{{ post.author.posts|length }} {{ "common.post"|transchoice(post.author.posts|length) }}</p>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <a href="http://facebook.com/sharer.php?u={{ app.request.uri  }}" target="_blank" class="pop-up st-icon st-icon-facebook">Facebook</a>
                <a href="http://twitter.com/intent/tweet?url={{ app.request.uri }}&text={{ post.title }}&via={{ social.twitter }}" target="_blank" class="pop-up st-icon st-icon-twitter">Twitter</a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&title={{ post.title }}&summary={{ post.title }}&source=WeMakeWeb" target="_blank" class="pop-up st-icon st-icon-linkedin">LinkedIn</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="post-content">
        <header class="post-header">
            <div class="post-info">
                <div class="post-tags float-right">
                    {% if post.category.name is defined %}
                        <div>
                            <small class="text-secondary"><span class="oi oi-paperclip"></span>&nbsp;<a href="{{ path('post_category', {'slug': post.category.slug}) }}" class="text-secondary">{{ post.category.name }}</a></small>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="post-title">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="post-date">
                <small class="post-date">
                {% if post.lastUpdate is not null %}
                    {{ "common.updated_at"|trans }} {{ post.lastUpdate|date('d F Y') }}
                {% else %}
                    {{ "common.created_at"|trans }} {{ post.creationDate|date('d F Y') }}
                {% endif %}
                - {{ nbViews }} {{ "common.view"|transchoice(nbViews) }}
                </small>
            </div>
        </header>
        {{ post.content|raw }}
        <div>
            <small class="text-secondary"><span class="oi oi-tags"></span>&nbsp;{{ post.tags|default("common.none"|trans) }}</small>
        </div>
    </div>
    <hr>
    <div class="author">
        <div class="row">
            <div class="col-md-4">
                <div class="float-left">
                    {% if post.author.getProfilePicture is null %}
                        <img src="{{ asset(profile_picture_default) }}" alt="profile_picture" class="profile-picture"/>
                    {% else %}
                        <img src="{{ asset(profile_picture_directory ~ post.author.getProfilePicture) }}" alt="profile_picture" class="profile-picture"/>
                    {% endif %}
                </div>
                <div class="">
                    <h5 class="username"><a href="{{ path('user_show', {'username': post.author.username}) }}">{{ post.author.username }}</a></h5>
                    <p class="user-info">{{ post.author.posts|length }} posts</p>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <a href="http://facebook.com/sharer.php?u={{ app.request.uri  }}" target="_blank" class="pop-up st-icon st-icon-facebook">Facebook</a>
                <a href="http://twitter.com/intent/tweet?url={{ app.request.uri }}&text={{ post.title }}&via={{ social.twitter }}" target="_blank" class="pop-up st-icon st-icon-twitter">Twitter</a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&title={{ post.title }}&summary={{ post.title }}&source=WeMakeWeb" target="_blank" class="pop-up st-icon st-icon-linkedin">LinkedIn</a>
            </div>
        </div>
    </div>
    {% include "post/_comments.html.twig" with {'form': comment_form} %}
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('javascript/highlight/styles/atom-one-dark.css') }}">
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('javascript/highlight/highlight.pack.js') }}"></script>

    <script>

        $(document).ready(function() {
            hljs.initHighlightingOnLoad();

            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });

            $('.pop-up').on('click', function (e) {
                e.preventDefault();
                var newWindow=window.open($(this).attr('href'),'','height=400,width=600');
                if (window.focus) {newWindow.focus()}
                return false;
            });
        });

    </script>

{% endblock %}