{% extends 'base.html.twig' %}

{% block body %}
<div class="container page-content" id="post-show">
    <div class="post-action">
        <a href="{{ path('post_index') }}" class="btn btn-secondary">Back to the list</a>
        <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary">Edit</a>
        <div class="float-right">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>

    

    <header class="post-header">
        <div class="author float-right">
            Post created by <a href="#">{{ post.author.username }}</a>
        </div>
        <div class="post-title">
            {% if post.lastUpdate is not null %}
            <h5 class="post-date">Updated at {{ post.lastUpdate|date('d F Y') }}</h5>    
            {% else %}
            <h5 class="post-date">Created at {{ post.creationDate|date('d F Y') }}</h5>
            {% endif %}
            <h1>{{ post.title }}</h1>
        </div>
    </header>
    <hr>
    
    <div class="post-content">
        {{ post.content }}
    </div>

    <hr>
</div>
{% endblock %}
